
body {
    margin: 0;
    font-family: 'Signika', sans-serif;
  }
  
  #home {
    background-color: #001986;
    background-image: url('/assets/background.png');
    background-size: cover;
    background-position: center;
    height: 92vh;
    align-items: center;
    padding: 20px;
    text-align: center;
    position: relative;
}

@media only screen and (max-width: 768px) {
    #home {
      height: 832px;
    }
  }

#logo {
  width: 202px; /* Increased size by 12% from 150px */
  margin-top: 42px; /* Adjustable space above */
  transform: scale(1.2); /* 20% size increase */
}

.mainTitle {
  margin-top: 1px;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  line-height: 1.2;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 
  -2px -2px 3px rgba(0, 0, 0, 0.5), 
  2px -2px 3px rgba(0, 0, 0, 0.5), 
  -2px 2px 3px rgba(0, 0, 0, 0.5);
}

.mainTitle h2 {
  width: 75%;
  margin: 0px;
}

.call-now-btn {
  display: none;
}

@media only screen and (max-width: 768px) {

  .call-now-btn a:active {
      background-color: #37ff62; 
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      transform: scale(0.98);
  }

  .call-now-btn {
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }

  .call-now-btn a {
    display: inline-flex;
    align-items: center;
    background-color: #FF0000;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 52px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  .call-now-btn a i {
    margin-right: 8px;
    font-size: 1.4rem;
  }
}

.appointmentBtn a:active {
  background-color: #3ad25b; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

.appointmentBtn {
display: flex;
justify-content: center;
margin-top: 18px;
}

.appointmentBtn a {
display: inline-flex;
align-items: center;
background-color: #FF0000;
color: #ffffff;
font-size: 1.5rem;
font-weight: bold;
padding: 15px 52px;
border-radius: 8px;
text-decoration: none;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.appointmentBtn a i {
margin-right: 8px;
font-size: 1.4rem;
}









@media only screen and (max-width: 768px) {
  #logo {
    margin-left: 12px;
    width: 272px;
  }
  
  .mainTitle {
    font-size: 22px;
  }

  .mainTitle h2 {
    width: 96%;
    margin: 10px 0px;
    line-height: 1.4;
  }

  .appointmentBtn {
    display: none;
  }
  
}

@media only screen and (max-width: 390px) {

  .mainTitle {
    font-size: 22px;
  }

  .mainTitle h2 {
    margin: 10px 0px;
    line-height: 1.4;
  }
}

  /* NAV BAR STYLE */
  
  .mobile-menu-toggle {
    font-size: 40px;
    padding-bottom: 5px;
    cursor: pointer;
    display: none;
    justify-content: flex-end;
    color: white;
  }
  
  .mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #1f1988c5;
    opacity: 100%;
    z-index: 3; /* Coloca encima del menú */
  }
  
  .mobile-menu {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #001986;
    color: white;
    position: fixed;
    top: 0;
    left: -80%;
    width: 80%;
    height: 100%;
    transition: left 0.3s ease;
    z-index: 5; 
  }
  
  .mobile-menu a {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  
  .mobile-menu a:hover {
    background-color: #555;
  }
  
  .mobile-menu.show {
    left: 0;
  }
  
  @media only screen and (max-width: 768px) {
    .menu {
      display: none;
    }
    
  
    .mobile-menu-toggle {
      display: flex;
  
    }

    .mobile-menu-container {
      display: none; 
    }
  
    .mobile-menu.show {
      left: 0;
      width: 70%;
    }
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 1.35rem; /* Increased font size */
    color: #ffffff; /* Navbar text color */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 
    -2px -2px 3px rgba(0, 0, 0, 0.5), 
    2px -2px 3px rgba(0, 0, 0, 0.5), 
    -2px 2px 3px rgba(0, 0, 0, 0.5);
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    display: flex; /* Ensures proper alignment */
    align-items: center; /* Aligns text vertically */
    justify-content: center; /* Centers text horizontally */
    transition: transform 0.3s ease; /* Smooth transition for size change */
}

.navbar a:hover {
    transform: scale(1.1); /* Increase size on hover */
}

/* Vertical lines between navbar items */
.navbar a:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 2px; /* Line thickness */
    height: 20px; /* Line height */
    background-color: #ffffff; /* Line color */
    margin-left: 18px; /* Space between link and line */
    margin-right: 18px; /* Space between link and line */
}
  .mobileSocialIcons {
    position: absolute;
    bottom: 0px; /* ajusta según necesites */
    width: 100%;
    padding-bottom: 12%;
    background-color: #020a3048;
  }

  .mobileSocialIcons h2 {
    margin-top: 8px;
  }

  
  .mobileSocialIcons a {
    font-size: 25px;
  }
  /* NAV BAR ENDS */

.social-icons {
  display: flex;
  gap: 45px;
  position: absolute;
  top: 42px;
  left: 70px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 
  -2px -2px 3px rgba(0, 0, 0, 0.5), 
  2px -2px 3px rgba(0, 0, 0, 0.5), 
  -2px 2px 3px rgba(0, 0, 0, 0.5);
}

.social-icons a {
  color: #ffffff;
  font-size: 1.8rem;
  text-decoration: none;
  transition: transform 0.3s ease; /* Smooth transition for size change */
}

.social-icons a:hover {
  transform: scale(1.2); /* Increase size on hover */
}

@media only screen and (max-width: 768px) {
  .social-icons {
    display: none
  }
}

.call-for-estimate {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: .82rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 
  -2px -2px 3px rgba(0, 0, 0, 0.5), 
  2px -2px 3px rgba(0, 0, 0, 0.5), 
  -2px 2px 3px rgba(0, 0, 0, 0.5);
}

.phoneNumber {
  font-size: 1.8rem;
  align-items: flex-start;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 
  -2px -2px 3px rgba(0, 0, 0, 0.5), 
  2px -2px 3px rgba(0, 0, 0, 0.5), 
  -2px 2px 3px rgba(0, 0, 0, 0.5);
}

.call-for-estimate i {
  color: #ffffff;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 2.1rem;
}

.call-for-estimate span {
  display: block;
}

@media only screen and (max-width: 768px) {
  .call-for-estimate {
display: none;
  }

  .navbar {
    display: none;
  }
}

/* Section container styling */
.overlay-section {
  position: relative;
  width: 100%;
  height: 612px;
  background-image: url(/assets/room_1.jpg); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
}




/* Dark overlay on the image */
.overlay-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Corner lines styling */
.corner-line {
  position: absolute;
  border: 3px solid #ffffff; /* Bright red color for corner lines */
  z-index: 2;
  opacity: 70%;
}

/* Each corner styling */
.top-left {
  top: 100px;
  left: 100px;
  width: 140px;
  height: 140px;
  border-right: none;
  border-bottom: none;
}

.top-right {
  top: 100px;
  right: 100px;
  width: 140px;
  height: 140px;
  border-left: none;
  border-bottom: none;
}

.bottom-left {
  bottom: 100px;
  left: 100px;
  width: 140px;
  height: 140px;
  border-right: none;
  border-top: none;
}

.bottom-right {
  bottom: 100px;
  right: 100px;
  width: 140px;
  height: 140px;
  border-left: none;
  border-top: none;
}

/* Text content styling */
.content {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  opacity: 92%;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 
  -2px -2px 3px rgba(0, 0, 0, 0.5), 
  2px -2px 3px rgba(0, 0, 0, 0.5), 
  -2px 2px 3px rgba(0, 0, 0, 0.5);
}

.content .small-text {
  font-size: 1.7rem;
  color: #ffffff;
  margin-bottom: 8px;
}

.content .main-text {
  font-size: 4.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Button styling */
.content .button {
  display: inline-block;
  padding: 20px 70px;
  font-size: 1.3rem;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.content .button:hover {
  background-color: #00000071;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {

  .overlay-section {
    height: 320px;
  }

  .content .button {
    padding: 8px 20px;
    font-size: 1rem;
  }

  .content .main-text {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
  }


   /* Each corner styling */
.top-left {
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  border-right: none;
  border-bottom: none;
}

.top-right {
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border-left: none;
  border-bottom: none;
}

.bottom-left {
  bottom: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  border-right: none;
  border-top: none;
}

.bottom-right {
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border-left: none;
  border-top: none;
}
.content {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  opacity: 92%;
}
/* Efecto de Fade/Slide en .content */

.content .small-text {
  font-size: 1.4rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.content .main-text {
  font-size: 2.3rem;
  font-weight: bold;
}

/* Button styling */
.content .button {
  display: inline-block;
  padding: 15px 22px;
  font-size: 1rem;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.content .button:hover {
  background-color: #fff;
  color: #222;
}

}
/* Section container styling ends*/


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.div{
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
 height: 300px;
 width: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 background: linear-gradient(to right, #1cd8d2, #93edc7);
 color: white;
 margin: 100px 0;
 border-radius: 7px;
}


.container-3 {
  height: 600px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.container-3 img {
  width: 100%;
}

.hero-text {
  width: 100%;
}

.hero-text h1 {
  font-size: 3.3rem;
  margin-bottom: 12px;
  color: #373737;
}

.hero-text p {
  font-size: 1.4rem;
  margin-bottom: 25px;
  font-weight: bolder;
}


/* Media queries */

@media (max-width: 768px) {
  .container-3 {
    width: 100%;
    margin-bottom: 45px;
    flex-direction: column;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    gap: 0px;
  }
  
  .hero-text {
    margin: 0px;
    width: 100%;
    text-align: center;
  }
  
  .hero-text h1 {
    font-size: 2.7rem;
    margin: 0px 50px;
  }

  .hero-text p {
    font-size: 1.5rem;
    margin: 10px 20px;
    font-weight: 100;
  }
}

.services {
  margin: 40px 20px;
  text-align: center;
}

.service-heading h2 {
  font-size: 2.5em;
  color: #333;
  margin: 2px;
}

.service-heading p {
  font-size: 1.1em;
  color: #666;
  margin: 5px 0px 25px 0px;
}

.service-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 00px;
}

.card h3 {
  font-size: 2em;
  color: #333;
  margin: 12px 10px 10px 10px
}

.card p {
  font-size: 18px;
  height: 100%;
  color: #979797;
  margin: 0px 18px 20px 18px;
}

/* Popups */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15px;
  width: 40%;
  height: 75%;
  overflow-y: auto;
  text-align: center;
}


.popup-image-holder {
  margin-bottom: 15px;
}

.popup-icon-holder img {
  display: none;
}

.popup-image-holder img {
  border-radius: 10px;
  object-fit: cover;
  width: 99%;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: #FF6347;
  cursor: pointer;
}

.close-btn:hover {
  color: #FF0000;
}

/* Close Popup Button (Red) */
.close-popup-btn {
  background-color: #FF6347; /* Red */
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.close-popup-btn:hover {
  background-color: #FF0000;
}

/* Request Service Button */
.request-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.request-btn:hover {
  background-color: #388E3C;
}

/* Responsive Design */
@media (min-width: 768px) {
  .service-cards {
      grid-template-columns: repeat(2, 1fr);
  }

  .card h3 {
    font-size: 2.1em;
    color: #333;
  }
}

@media (min-width: 1024px) {
  .service-cards {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {

  .service-cards {
    margin: 0px 0px 10px 0px;
  }

  .card p {
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0px 16px 20px 16px;
  }

  .popup-content {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
    width: 80%;
    height: 90%;
    overflow-y: auto;
    text-align: center;
  }

  .popup-content h3 {
    margin-top: 20px;
  }
  
}


.testimonials-container {
  display: flex;
  background-image: url('/assets/background.png');
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 2px 0px;
  overflow: hidden;
  perspective: 1200px;
}

.testimonials-wrapper {
  position: relative;
  width: 85%;
  max-width: 800px;
  height: 60vw;
  max-height: 350px;
  transform-style: preserve-3d;
  animation: rotate 38s infinite linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.testimonial-card {
  position: absolute;
  width: 80%;
  max-width: 320px;
  height: 350px;
  background-color: rgb(171, 171, 171);
  padding: 0px 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.testimonial-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.testimonial-text {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.2;
  margin-top: 15px;
}

.testimonial-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.star {
  font-size: 1.2rem;
  color: #ffbf00; /* Color dorado para las estrellas */
  margin: 0 1px;
}

.testimonial-card:nth-child(1) {
  transform: rotateY(0deg) translateZ(400px);
}
.testimonial-card:nth-child(2) {
  transform: rotateY(72deg) translateZ(400px);
}
.testimonial-card:nth-child(3) {
  transform: rotateY(144deg) translateZ(400px);
}
.testimonial-card:nth-child(4) {
  transform: rotateY(216deg) translateZ(400px);
}
.testimonial-card:nth-child(5) {
  transform: rotateY(288deg) translateZ(400px);
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@media (max-width: 768px) {
  .testimonials-wrapper {
    width: 90%;
    padding: 0px 10px;
    max-width: 230px;
    height: 60vw;
    max-height: 240px;
    animation: rotate 23s infinite linear;
    
  }
  
}

.big-testimonial p {
  font-size: 14px;
}

.see-review-btn {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.see-review-btn:hover {
  background-color: #388E3C; /* Darker green on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

.see-review-btn:active {
  transform: scale(0.95); /* Pressed effect */
}
